.row-container{
    margin-left: 16px;
  }

  .tiles-row-container{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }

  .tiles-row-container::-webkit-scrollbar{
    display: none;
  }

  .row-title{
    color: #fff;
  }

  .image-tile{
    max-width: 100%;
    border-radius: 4px;
    object-fit: contain;
    max-height: 150px;
    margin-right: 10px;
    transition:  transform 450ms;
  }

  .image-tile:hover{
    transform: scale(1.08)
  }

  .image-tile-top-row{
    max-height: 250px;
  }
  .image-tile-top-row:hover{
    transform: scale(1.09)
  }
