* {
  margin:0;
}

body {
  background-color: #141414;
}


and
:root {
  --bg-theme: #141414;
  --primary-text-white: #fefefe;
  --secondary-text-grey: #808080;
}

/* Manage Profile */
.container {
  background-color: var(--bg-theme);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.btn-manage-profile{
    border-width: 1px;
    border-color: rgb(128, 128, 128);
    border-radius: 0px;
    color: rgb(128, 128, 128);
    font-size: 18px;
    border-style: solid;
    padding: 8px 30px;
    cursor: pointer;
}

.btn-manage-profile:hover {  
  color: white;
  border-color: white;
  }

  .profile-tile{
    height: 144px;
    width: 144px;
    border-radius: 6px;
    object-fit: cover;
    margin: 8px 16px;
    cursor: pointer;
  }

  .profile-tile:hover {
    background: #e1e1e1;
    box-shadow: 0 0 0 2px #d0d0d0;
   
  }

  .display-name {
    font-size: 18px,;
    padding: 4px;
    font-weight: 500; 
    color: var(--secondary-text-grey);
    cursor: pointer;
  }

  .profile-container{
    height: 35%;
    display: flex;
     justify-content: center;
     align-items: flex-start;
  }

  .profile-title{
    font-size: 55px;
    font-weight: 400;
    color: var(--primary-text-white);
    padding: 16px
  }

  /* Manage Profile Media */
  @media(max-width: 640px){
    .profile-container{
      flex-wrap: wrap;
      width: 100%;
    }

    .profile-tile{
      height: 90px;
      width: 90px;
      margin: 4px 8px;
    }

    .profile-title{
      font-size: 36px;
    }
    .btn-manage-profile{
      font-size: 12px;
    }
  }


  /* Main Page */

  .container-main {
    background-color: var(--bg-theme);
    display: flex;
    flex-direction: column;
   
  }


  /* Tiles Row */
  .row-container{
    margin-left: 16px;
  }

  .tiles-row-container{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }

  .tiles-row-container::-webkit-scrollbar{
    display: none;
  }

  .row-title{
    color: #fff;
  }

  .image-tile{
    max-width: 100%;
    border-radius: 4px;
    object-fit: contain;
    max-height: 150px;
    margin-right: 10px;
    transition:  transform 450ms;

  }

  .image-tile:hover{
    transform: scale(1.08)
  }

  .image-tile-top-row{
    max-height: 250px;
  }
  .image-tile-top-row:hover{
    transform: scale(1.09)
  }

  /* Main Page Media */

